@font-face {
  font-family: "Roboto-regular";
  src: url("../fonts/LeagueSpartan-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Roboto-bold";
  src: url("../fonts/LeagueSpartan-Bold.ttf");
  font-weight: 700;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
}

body {
  font: normal 16px/1.5 Roboto, sans-serif;
  color: #cacaca;
  background-color: #08020d;
}

h1 {
  font: bold 60px/90px Roboto, sans-serif;
  text-transform: uppercase;
  color: #ffffff;
}

h2 {
  font: bold 38px/57px Roboto, sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 48px;
}

.index h2 {
  text-align: center;
}

.artist h1,
.artist h2 {
  text-align: left;
}

a {
  text-decoration: none;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
}

section .wrapper {
  padding-top: 100px;
}

.bg-img {
  background-image: url("../images/banner.png");
  background-position: center;
  background-size: cover;
}

#page-description .wrapper {
  position: relative;
  padding-top: 200px;
  padding-bottom: 200px;
}

nav {
  position: absolute;
  top: 25px;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
nav .container-logo-menu {
  display: flex;
  gap: 90px;
  align-items: center;
  width: 100%;
}
nav .container-logo-menu .logo {
  display: flex;
  gap: 16px;
  align-items: center;
}
nav .container-logo-menu .logo img {
  width: 24px;
  height: 24px;
}
nav .container-logo-menu .logo a {
  font-size: 11px;
  line-height: 16px;
  color: #cacaca;
  text-transform: uppercase;
}
nav .container-logo-menu .menu {
  display: flex;
  gap: 24px;
}
nav .container-logo-menu .menu a {
  color: #cacaca;
  text-transform: uppercase;
  font-size: 11px;
  line-height: 16px;
}
nav .search .site-search {
  padding: 5px 10px;
  background-color: #3c3b3d;
  color: #cacaca;
  border-radius: 50px;
  border: none;
  width: 248px;
}

.container .title {
  text-align: center;
}
.container .subtitle h2 {
  margin: 0;
}
.container .description {
  margin: 31px 0 17px;
  text-align: center;
  color: #fff;
}

.registr {
  max-width: 570px;
  width: 100%;
  margin: 0 auto;
}
.registr .area-form {
  display: flex;
  gap: 30px;
}
.registr .area-form .input-field {
  box-sizing: border-box;
  min-width: 270px;
  min-height: 50px;
  padding-left: 20px;
  margin-bottom: 1.5rem;
  border: 2px solid #cacaca;
  border-radius: 3px;
  background: none;
  color: #fff;
}
.registr .area-form .input-field::-moz-placeholder {
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}
.registr .area-form .input-field:-ms-input-placeholder {
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}
.registr .area-form .input-field::placeholder {
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}

.btn {
  display: block;
  padding: 20px 30px;
  border-radius: 5px;
  border: none;
  width: 100%;
  background: #34c176;
  font-family: "Arial";
  font-weight: 400;
  font-size: 13.3px;
  line-height: 15px;
  text-transform: uppercase;
  color: #FFFFFF;
  cursor: pointer;
}

.content {
  display: flex;
  gap: 50px;
  margin-bottom: 43px;
}

.pricing-item {
  box-sizing: border-box;
  padding: 24px 1.5rem 64px;
  min-height: 615px;
  width: calc((100% - 100px) / 3);
  border-radius: 1rem;
  text-align: center;
}
.pricing-item.bg-free {
  background: url("../images/subscribe_1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.pricing-item.bg-basic {
  background: url("../images/subscribe_2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.pricing-item.bg-premium {
  background: url("../images/subscribe_3.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.pricing-item .pricing-title {
  margin-bottom: 200px;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  color: #FFFFFF;
}
.pricing-item .pricing-value {
  font-size: 64px;
  line-height: 1em;
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 40px;
}
.pricing-item .pricing-value sup {
  margin-left: 16px;
  font-size: 32px;
  line-height: 150%;
}
.pricing-item .btn {
  width: 100%;
  border: 1px solid #ffffff;
  background: none;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 64px;
}
.pricing-item .pricing-footer {
  font-size: 12.8px;
  color: #ffffff;
}

#page-pricing .description {
  font-size: 16px;
  text-align: center;
  color: #FFFFFF;
}

.news {
  display: flex;
  flex-direction: column;
  gap: 65px;
}
.news .news-item {
  display: flex;
  gap: 50px;
}
.news .news-item.first-news .left-column {
  line-height: 0;
}
.news .news-item.second-news .right-column {
  line-height: 0;
}
.news .news-item .news-body h3 {
  font-size: 30px;
  color: #ffffff;
  font-weight: 400;
  margin-bottom: 30px;
}
.news .news-item .news-body p {
  margin-bottom: 25px;
}
.news .news-item .news-footer .news-author {
  display: flex;
  gap: 16px;
  align-items: center;
  font-size: 12px;
  line-height: 1.6;
  margin-bottom: 48px;
}
.news .news-item .news-footer .news-author .logo-user {
  width: 19px;
  height: 19px;
}
.news .news-item .news-footer .news-author .user-name {
  text-transform: uppercase;
  color: #F89202;
}

.artist-img {
  width: 575px;
  height: 286px;
}

#page-news .btn {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 16px 30px;
  border: 1px solid #CACACA;
  background: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 19px;
  color: #CACACA;
}

#page-app .wrapper {
  padding-bottom: 100px;
}
#page-app .content {
  display: flex;
  gap: 144px;
  align-items: center;
}
#page-app .content .left-column {
  max-width: 600px;
}
#page-app .content .right-column {
  line-height: 0;
}
#page-app .btn {
  margin-top: 16px;
  padding: 16px 40px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border-radius: 32px;
  background: #95390c;
  font-size: 12.8px;
  line-height: 1.5;
  color: #FFFFFF;
  text-transform: capitalize;
}
#page-app img {
  width: 333px;
  height: 278px;
}

.bg-gradient {
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}

footer {
  position: relative;
}
footer h2 {
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 1.5;
  font-weight: bold;
  text-transform: uppercase;
}
footer a {
  font-size: 16px;
  line-height: 1.5;
  font-weight: normal;
  color: #e0e0e0;
  text-decoration: none;
}
footer .top-row {
  padding-top: 3rem;
  padding-bottom: 3rem;
  display: flex;
  justify-content: space-between;
}
footer .top-row .column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
footer .top-row .links-social {
  display: flex;
  gap: 24px;
}
footer .light-row {
  position: absolute;
  width: 100%;
  height: 2px;
  background: #cacaca;
  border: 1px solid #cacaca;
}
footer .bottom-row {
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  gap: 16px;
}

.bg-img-artist {
  background-image: url("../images/Morten Harket.png");
  background-position: center;
  background-size: cover;
}

.artist header .title {
  margin-bottom: 16px;
}
.artist header .subtitle {
  color: #fff;
  margin-bottom: 48px;
}
.artist header .description {
  display: flex;
  gap: 1.5rem;
}
.artist header .btn {
  display: flex;
  gap: 16px;
  align-items: center;
  max-width: 200px;
}
.artist header .btn img {
  width: 20px;
  height: 20px;
}
.artist header .btn p {
  font-family: Roboto;
  font-size: 12.8px;
  line-height: 1.5;
  color: #fff;
}
.artist header .btn:nth-child(1) {
  background: #5328a1;
}
.artist header .btn:nth-child(2) {
  background: #95390c;
}

#page-popular-track h3 {
  font-size: 12.8px;
  line-height: 19.2px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
}
#page-popular-track p {
  font-size: 12.8px;
  color: #e0e0e0;
  font-weight: 400;
}
#page-popular-track img {
  width: 55px;
  height: 55px;
}
#page-popular-track .columns {
  display: flex;
  gap: 50px;
  justify-content: space-between;
}
#page-popular-track .columns .column {
  width: calc(100% - 50px);
  display: flex;
  flex-direction: column;
  gap: 25px;
}
#page-popular-track .columns .column .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#page-popular-track .columns .column .row .name {
  display: flex;
  gap: 15px;
  align-items: center;
}

#page-discography h3 {
  font-size: 18px;
  line-height: 1.5;
  font-weight: bold;
  color: #fff;
}
#page-discography img {
  width: 250px;
  height: 250px;
  margin-bottom: 18px;
}
#page-discography p {
  color: #e0e0e0;
}
#page-discography .albums {
  display: flex;
  flex-wrap: wrap;
  gap: 25px 50px;
}

#page-similar h3 {
  font-size: 18px;
  line-height: 1.5;
  font-weight: bold;
  color: #fff;
  margin-bottom: 1px;
}
#page-similar img {
  width: 250px;
  height: 250px;
  margin-bottom: 17px;
}
#page-similar p {
  color: #e0e0e0;
}
#page-similar .wrapper {
  margin-bottom: 100px;
}
#page-similar .artists {
  display: flex;
  gap: 25px 50px;
  flex-wrap: wrap;
}
#page-similar .card {
  text-align: center;
}

@media (max-width: 1240px) {
  .wrapper {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
  nav {
    flex-direction: column;
    gap: 18px;
    align-items: flex-start;
    width: calc(100% - 20px);
    left: 20px;
  }
  nav .search .site-search {
    min-width: 374px;
  }
  .content {
    flex-direction: column;
    align-items: center;
    gap: 26px;
    margin-bottom: 19px;
  }
  .pricing-item {
    min-width: 374px;
  }
  .pricing-item .pricing-title {
    font-weight: 700;
    font-size: 16px;
  }
  .news .news-item {
    flex-direction: column;
    align-items: center;
  }
  .news .news-item.second-news {
    flex-direction: column-reverse;
  }
  .news .news-item .artist-img {
    width: 374px;
    height: 186px;
  }
  .news .news-item .news-body h3 {
    font-size: 16px;
    margin-bottom: 16px;
  }
  #page-app .content {
    flex-direction: column-reverse;
    gap: 16px;
  }
  footer .top-row {
    flex-direction: column;
    gap: 30px;
  }
  footer .bottom-row {
    flex-direction: column;
  }
}
@media screen and (max-width: 800px) {
  h1 {
    font-size: 30px;
    line-height: 45px;
  }
  h2 {
    font-size: 18px;
    line-height: 27px;
  }
  nav {
    left: 20px;
  }
  nav .container-logo-menu {
    flex-direction: column;
    gap: 17px;
    align-items: flex-start;
  }
  nav .container-logo-menu .menu {
    flex-direction: column;
    gap: 3px;
    align-items: flex-start;
  }
  #page-description .wrapper {
    padding-top: 250px;
  }
  .container .description {
    margin: 16px 0;
  }
  .registr {
    display: flex;
    flex-direction: column;
  }
  .registr .area-form {
    flex-direction: column;
    gap: 0;
  }
  .artist header .description {
    flex-direction: column;
  }
  #page-popular-track .columns {
    flex-direction: column;
    gap: 25px;
  }
  #page-popular-track .columns .column {
    width: 100%;
  }
  #page-discography img {
    width: 137px;
    height: 137px;
  }
  #page-discography h3 {
    width: 137px;
    word-wrap: break-word;
  }
  #page-similar img {
    width: 137px;
    height: 137px;
  }
  #page-similar p {
    width: 137px;
    word-wrap: break-word;
  }
}