@import "variables";
@import "general";

#page-app {
  .wrapper {
    padding-bottom: 100px;
    
    .content {
      display: flex;
      
      .left-column {
        max-width: 600px;

        .btn {
          margin-top: 16px;
          padding: 17px 40px;
          
          color: #fff;
          text-decoration: none;
          font-size: 12.8px;

          background: #95390C;
          border-radius: 32px;

          display: inline-block;
        }

        .btn:hover,
        .btn:focus {
          background-color: darkorchid;
          transition: 1.5s;
        }
      }
    img {
      margin-left: 144px;

      width: 333px;
      height: 278px;
    }
    }
  }
}

@media (max-width: 1240px) {
  #page-app {
    .wrapper{
      .title {
        h2 {
          font-size: 18px;
        }
      }
      
      .content {
        flex-direction: column-reverse;
        padding: 0 20px;
        align-items: center;

        .left-column:first-child {
          padding-right: 7px;
        }

        img {
          margin: 0;
        }
      } 
    }   
  }
}