.bg-gradient {
    background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
  }

footer {
  position: relative;

  h2 {
    margin-bottom: 15px;

    font-size: 18px;
    line-height: 1.5;
    font-weight: bold;

    text-transform: uppercase;
  }

  a {
    font-size: 16px;
    line-height: 1.5;
    font-weight: normal;
    color: $gray;

    text-decoration: none;
  }

  .top-row {
    padding-top: 3rem;
    padding-bottom: 3rem;

    display: flex;
    justify-content: space-between;

    .column {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    .links-social {
      display: flex;
      gap: 24px;
    }
  }

  .light-row {
    position: absolute; 
   
    width: 100%;
    height: 2px;
    
    background: $dark-gray;
    border: 1px solid $dark-gray;
  }

  .bottom-row {
    padding-top: 2rem;
    padding-bottom: 2rem;

    display: flex;
    gap: 16px;
  }
}