@import "variables";
@import "general";

.news-item {
  display: flex;
  gap: 50px;
  margin-bottom: 65px;

  .news-body {
    h3 {
      font-size:  30px;
      line-height: 1.5;
      color: #ffffff;
      font-weight: normal;
      font-family: Roboto, sans-serif;

      margin-bottom: 30px;
    }

    p {
      margin-bottom: 19.5px;

      line-height: 150%;
    }
  }

  .news-author {
    display: flex;
    align-items: center;

    margin-bottom: 48px;

    * {
      margin-right: 16px;
    }

    .logo-user {
      width: 19px;
      height: 19px;
    }

    .user-name {
      color: $orange;
      text-transform: uppercase;

      font-size: 12px;
      line-height: 19px;
    }

    .date-post {
      font-size: 12px;
      line-height: 19px;
    }
  }
}

.btn {
  display: inline-block;
  box-sizing: border-box;
  
  padding: 16px 30px;
  
  text-decoration: none;
  color: $dark-gray;
  text-transform: uppercase;

  border: 1px solid #CACACA;
  border-radius: 5px;

}

.btn:hover {
  background-color: rgb(0 255 255 / 0.5);
  transition: 2s;
}
 
.artist-img {
  width: 575px;
  height: 286px;
}

.news-item:last-child {
  margin-bottom: 0;
}

@media (max-width: 1240px) {
  #page-news{
    .title {
      h2 {
        font-size: 18px;
      }
    }
  }

  .news-item {
    flex-direction: column;
    align-items: center;

    padding: 0 20px;

    .artist-img {
      width: 374px;
      height: 186px;
    }
  }

  .second-news {
    flex-direction: column-reverse;

    .news-body {
      
      p {
        padding-right: 3px;
      }
    }
  }
}