#page-similar {
  
  h3 {
    font-size: 18px;
    line-height: 1.5;
    font-weight: bold;
    color: #fff;

    margin-bottom: 1px;
  }

  img {
    width: 250px;
    height: 250px;

    margin-bottom: 17px;
  }

  p {
    color: $gray;
  }

  .wrapper {
    margin-bottom: 100px;
  }

  .artists {
    display: flex;
    gap: 25px 50px;
    flex-wrap: wrap;
  }
  
  .card {
    text-align: center;
  }
}