#page-popular-track {
  h3 {
    font-size: 12.8px;
    line-height: 19.2px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
  }

  p {
    font-size: 12.8px;
    color: $gray;
    font-weight: 400;
  }

  img {
    width: 55px;
    height: 55px;
  }

  .columns {
    display: flex;
    gap: 50px;
    justify-content: space-between;

    .column {
      width: calc(100% - 50px);
      display: flex;
      flex-direction: column;
      gap: 25px;

      .row {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .name {
          display: flex;
          gap: 15px;
          align-items: center;
        }
      }
    }
  }
}