.news {
  display: flex;
  flex-direction: column;
  gap: 65px;

  .news-item {
    display: flex;
    gap: 50px;

    &.first-news {

      .left-column {
        line-height: 0;
      }
    }

    &.second-news {

      .right-column {
        line-height: 0;
      }
    }

    .news-body {
      
      h3 {
        font-size: 30px;
        color: #ffffff;
        font-weight: 400;

        margin-bottom: 30px;
      }

      p {
        margin-bottom: 25px;
      }
    }

    .news-footer {
      
      .news-author {
        display: flex;
        gap: 16px;
        align-items: center;

        font-size: 12px;
        line-height: 1.6;

        margin-bottom: 48px;

        .logo-user {
          width: 19px;
          height: 19px;
        }

        .user-name {
          text-transform: uppercase;
          color: #F89202;
        }
      }
    }
  }
}

.artist-img {
  width: 575px;
  height: 286px;  
}

#page-news {
  .btn {
    width: max-content;

    padding: 16px 30px;
    border: 1px solid #CACACA;

    background: none;

    font-weight: 400;
    font-size: 12px;
    line-height: 19px;

    color: #CACACA;
  }
}