#page-discography {
  h3 {
    font-size: 18px;
    line-height: 1.5;
    font-weight: bold;
    // text-transform: uppercase;
    color: #fff;
  }

  img {
    width: 250px;
    height: 250px;

    margin-bottom: 18px;
  }

  p {
    color: $gray;
  }

  .albums {
    display: flex;
    flex-wrap: wrap;
    gap: 25px 50px;
  }
}